/target/
contests/c4l/.gitignore
contests/c4l/.settings/org.eclipse.jdt.core.prefs
contests/c4l/.settings/org.eclipse.m2e.core.prefs
contests/ww/ww.TU.class
contests/ww/java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.class
contests/ww/java.util.concurrent.FutureTask.class
contests/ww/java.util.ResourceBundle$RBClassLoader.class
contests/ww/java.lang.reflect.Method.class
contests/ww/java.lang.ref.Reference$ReferenceHandler.class
contests/ww/java.lang.ref.Finalizer$FinalizerThread.class
contests/ww/java.lang.ClassLoader.class
contests/ww/sun.rmi.transport.DGCAckHandler$1.class
contests/ww/sun.nio.fs.NativeBuffer$Deallocator.class
contests/ww/sun.nio.ch.FileChannelImpl$Unmapper.class
contests/ww/org.junit.runners.ParentRunner$3.class
contests/ww/org.eclipse.jdt.internal.junit.runner.RemoteTestRunner$ReaderThread.class
contests/ww/java.util.logging.LogManager$Cleaner.class
contests/ww/java.util.concurrent.ThreadPoolExecutor$Worker.class
contests/ww/java.lang.ApplicationShutdownHooks$1.class
contests/ww/java.io.DeleteOnExitHook$1.class
contests/ww/com.sun.jmx.remote.internal.ServerCommunicatorAdmin$Timeout.class
contests/ww/ww.Grid.class
contests/ww/ww.GameState.class
contests/ww/ww.Eval.class
contests/ww/ww.Agent.class
contests/ww/sun.rmi.transport.tcp.TCPTransport$ConnectionHandler.class
contests/ww/sun.rmi.transport.tcp.TCPTransport$AcceptLoop.class
contests/ww/sun.rmi.transport.DGCImpl$1.class
contests/coderoyale/bin/
